{% extends 'rentals/base.html' %}

{% block title %}Şifre Sıfırlama Bağlantısı Gönderildi - {{ block.super }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="alert alert-info">
        <h4 class="alert-heading">E-posta Gönderildi</h4>
        <p>Şifre sıfırlama bağlantısı, eğer sistemde kayıtlı bir e-posta adresi girdiyseniz, e-posta kutunuza
            gönderildi.</p>
        <hr>
        <a href="{% url 'login' %}" class="btn btn-primary">Giriş Sayfasına Dön</a>
    </div>
</div>
{% endblock %}